/* header {
    background-color: white;
    height: 50px;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;
} */

/* nav li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

a {
    text-decoration: none;
} */

/* section {
    margin-left: 50px;
    margin-right: 50px;
    background-color: pink;
    position: relative;
    top: 100px;
    padding: 20px;
    margin-bottom: 100px;
}
.bg {
    background-color: black;
} */